* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(209, 19, 19);
  display: flex;
  justify-content: center;
  min-height: 90vh;
  max-height: 50vh;
}

main {
  display: flex;
  max-width: 1000px;
}

/* #game {
  display: none;
} */

#container-game {
  background-image: url('.././images/img-game-main.png');
  background-size: cover;
  height: 60vh;
  width: 100vh;
  align-self: center;
}

#start-game {
  max-width: 20%;
  margin-top: 6cm;
  margin-left: 5cm;
  display: none;
}

#start-game:hover {
  cursor: pointer;
}

#answers, #img-pokemon {
  margin-top: 1.5cm;
  margin-left: 4.5cm;
  margin-bottom: 1cm;
}

.input-style {
  border: 5px outset rgb(78, 117, 189);
  background-color: rgb(253, 215, 45);
  padding: 8px 5px;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 800;
  color:rgb(27, 65, 136);
}

.input-style:focus {
  outline: none;
}

.input-style::placeholder {
  font-size: 7px;
  font-family: 'Press Start 2P', cursive;
}

#answer {
  width: 23%;
}

#restart {
  width: 100%;
  margin-top: 3.5cm;
  letter-spacing: 2px;
}